div {
    border: 1px;
    border-style: solid;
}
.display{
    width: 400px;
    height: 100px;
}
.calculator {
    height: 510px;
    width: 410px;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 408px;
}
.buttons > div {
    flex: 0 0 100px;
    display: flex;
    justify-content: center;
    border-style: none;
}
.buttons > div > button {
    align-self: center;
    flex: 0 0 75%;
    height: 60px;
}
